
body {
    background: beige;
}

.text_h1 {
    color: brown;
    font-family: verdana;
}

.text_h3 {
    font-family: verdana;
    text-decoration: underline;
}
header{
    background-color: ghostwhite;
}

button.espacamento {
    margin-right: 100px; /* Espaço à direita de cada botão */
}

/* Remove o espaço à direita do último botão */
button.espacamento:last-child {
    margin-right: 0;
}
